<h4> Here is a summary of your Order</h4>
<div class='row'>
<% order.carted_products.each do |carted_product| %>
  <h4>Product<%= carted_product.produc_app.name %></h4>
  <h4>Quantity<%= carted_product.quantity  %></h4>
</div>

<% end %>


 <a href="/products"> Back to all products</a>